{% extends 'base.html' %}

{% block content %}
{% block header %}
  <h1>{% block title %}Finish Parking{% endblock %}</h1>
{% endblock %}
<a href="{{url_for("parking.index")}}">
  <img class="return" src="{{url_for('static', filename='return.png')}}" alt="return icon">
</a>
<section>
  <form id="vehicle" method="post">
    <ul>
        <li>
            <label for="plate">License Plate</label>
            <input id="plate" name="plate" required>
        </li>
        <li id="actions">
            <button type="submit">Search</button>
        </li>
    </ul>
  </form>
</section>
{% endblock %}