{% extends 'base.html' %}

{% block content %}
{% block header %}
  <h1>{% block title %}Auto Parking{% endblock %}</h1>
{% endblock %}
<section class="menu">
    <a href="{{url_for('parking.new') }}">
        <div class="card">
            <img src="{{ url_for('static', filename='new.png') }}">
            <p>New Parking</p>
        </div>
    </a>
    <a href="{{url_for('parking.finish_search') }}">
        <div class="card">
            <img src="{{ url_for('static', filename='stop_b.png') }}">
            <p>Finish Parking</p>
        </div>
    </a>
    <a href="{{url_for('summary.index') }}">
        <div class="card">
            <img src="{{ url_for('static', filename='manage.png') }}">
            <p>Parking Summary</p>
        </div>
    </a>
</section>
{% endblock %}