{% extends 'base.html' %}

{% block content %}
{% block header %}
  <h1>{% block title %}Auto Parking - Summary{% endblock %}</h1>
{% endblock %}
<a href="{{url_for("parking.index")}}">
    <img class="return" src="{{url_for('static', filename='return.png')}}" alt="return icon">
</a>
<section class="summary">
    
    <table>
        <thead>
            <td>
                DB Key
            </td>
            <td>
                plate
            </td>
            <td>
                Parking Time
            </td>
            <td>
                Parking Finish
            </td>
            <td>
                Parking Rate
            </td>
            <td>
                Total Value
            </td>
        </thead>
        <tbody>
        {% for vehicle in vehicles %}
        <tr>
            <td>{{vehicle["key"]}}</td>

            <td>{{vehicle["plate"]}}</td>

            <td>{{vehicle["parking_time"]}}</td>

            {% if vehicle["finished_parking"] %}
            
            <td>{{vehicle["finished_parking"]}}</td>
            
            {%else%}

            <td> Running </td>

            {% endif %}

            <td>{{vehicle["rate"]}}</td>

            {% if vehicle["finished_parking"] %}

                <td>{{vehicle["payment"]}}</td>
            
            {%else%}

                <td> Running </td>

            {% endif %}

        </tr>

        {% endfor %}
        
    </tbody>
    </table>
</section>
{% endblock %}