{% extends 'base.html' %}

{% block content %}
{% block header %}
  <h1>{% block title %}Auto Parking - Log In{% endblock %}</h1>
{% endblock %}
  <form id="auth_form" method="post">
    <ul>
        <li>
            <label for="username">Username</label>
            <input id="username" name="user" required>
        </li>
        <li>
            <label for="password">Password</label>
            <input name="pwd" type="password" id="password" required>
        </li>
        <li>
            <button type="submit">Log in</button>
        </li>
    </ul>
  </form>
{% endblock %}